:root {
  --main-color:black;
}

* {
  font-size: 16px;
}


.brand-link {
  padding: 3rem;
  width: 100%;
  height: 100%;
}

.brand-link img{
  width:100%;
  height: auto;
  object-fit: cover;
}

.sidebar-wrapper .sidebar-menu > .nav-item.menu-open .nav-link.active:not(:hover) {
  background-color: var(--main-color)!important;
  color: #fff!important;
}

.sidebar-wrapper .sidebar-menu > .nav-item.menu-open .nav-link.active:hover {
  background-color: var(--main-color)!important;
  color: #fff!important;
}

.sidebar-wrapper .sidebar-menu > .nav-item.menu-open .nav-link:hover {
  background-color: #ebf5fb!important;
}

.sidebar-wrapper .sidebar-menu > .nav-item.menu-open > .nav-link, .sidebar-wrapper .sidebar-menu > .nav-item:hover > .nav-link, .sidebar-wrapper .sidebar-menu > .nav-item > .nav-link:focus {
  color: black;
}

.nav-item a {
  color: black!important;
}

.nav-header {
  color: black!important;
}

.nav-item a:hover {
  color: black!important;
}

.sidebar-wrapper .nav-treeview > .nav-item > .nav-link {
  color: black!important;
}


.card-primary, .bg-primary, .text-bg-primary {
  --lte-card-variant-bg:black!important;
}

.page-link.active, .active > .page-link {
  background-color: black!important;
  border-color: black;
}